@import url('https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css');

#bruh-button {
    padding-bottom: 3em;
}

#bruh-button:active {
    opacity: 0.5;
    -webkit-user-drag: none;
}

body {
    font: 20px 'rawline', sans-serif;
}

.container {
    border-radius: 0 0 10% 10%;
}
